/*Upcoming events*/
.about-head h3
{
	text-align: center;
}

 .event_list_detail
 {
 	 background-color: white !important;
 	 padding: 5px;
 	 padding-top: 20%;
 }
.event_list_detail p{
  text-align: center !important;

}
.event_list_date{
	text-align: center;
	color:#1A4C1A;
	margin-left: 25px;
	margin-right: 25px;
	border:2px solid #1A4C1A;
}
 .blog_heading h4{
 	text-align: center !important;
 }

.post-page
{
	color: white !important;
}
.content {
	background-color: #F0F0F0;
}
img.qem-image {
	max-width: 100% !important;
}

/*Upcoming Events*/

/*blogs*/
.blog_post_body{
  background-color:white;
}
.blog_page_title h1{
 padding-top: 20px !important;
 margin: 0px !important;
}
.blog_page_title{
	padding-bottom: 10px !important;
}
.dev_blog_details{
 text-align: justify;
}
.author_details{
  text-align: center;
  display: inline-block;
}
.author_details h5{
  text-align: justify;
}
.author_image img{
	width: 40%;
}
.author_image p{
	width: 70%;
	font-weight: 900;
}

#comments{
	border-top: 4px solid #006699;
	background-color: white; 
}
#comments .comment{
	border-top: 2px solid orange ; 
}
#comments .comment .children{
	border-top: 1px solid green ; 
}

.event_calendar h4 {
	text-align: center;
}
.event_calendar ul {
	list-style-type: none;
	text-align: left;
}

.blog_post_container
{
	width:90%;
}

/*Event Post Page*/
.upcoming_events_post{
	background-color: white;
	width: 99%;
}
.upevent_post_field .qem-icon
{
  display:none;
}
.custom_event_work h4{
	text-align: center;
	color: #003D66;
}
.custom_event_work p{
	font-size: 14px !important;
	font-weight: 900;
	color: #E65C00 !important;
}
span.glyphicon {
    font-size: 20px;  
}

.event_post_eventpic .qemright a img
{
 width: 100%;
 height: auto;
}
@media screen and (min-width: 600px) {

	
.qem-small{
	padding: 20px;
	margin-left: 0px !important;
}

.upevent_post_field
{
 padding-right:80px;
}
}
@media screen and (max-width: 600px) {
 .upcoming_events_post{
     width: 100% !important;
	}
	.upevent_post_field{
 padding-right:10px;
}
}
@media screen and (max-width: 640px){
.container {
  width: 90%;
}

.event_post_desc{
text-align: justify;
}
}
.qemright{
	float: left !important;
}
.qem-small{
	margin-left: 0px !important;
}

.qem-register h4 {
	text-align: center;
	color:#001F4C;
	opacity: 0.8;
}
.qem-small h2 {
	text-align: center !important;
	font-weight: 900;
	font-size: 14px !important;
	color:white !important;
	background-color: #001F4C;
	padding: 3px;
}
.error_message {
	display: block;
	font-weight: 900;
	text-align: center;
	color:white !important;
	background-color: #001F4C !important;
}
.closed_message{
	padding: 10px !important;
	width:400px;
	font-size:18px;
    display: block;
	font-weight: 900;
	text-align: center;
	color:white !important;
	background-color:#FF8533;
}

/*Event Post page Ends*/