/*Upcoming events*/
.about-head h3
{
	text-align: center;
}

 .event_list_detail
 {
 	 background-color: #EBF5EB !important;
 }
.event_list_detail p{
  text-align: center !important;

}
.event_list_date{
	text-align: center;
	color:#1A4C1A;
	margin-left: 25px;
	margin-right: 25px;
	border:2px solid #1A4C1A;
}
 .blog_heading h4{
 	text-align: center !important;
 }


.view_btn{
	color: white;
	font-weight: 900;
 background-color: #248FB2 !important;
 border: 2px solid #0A2933 !important;
 box-shadow: 5px 5px 5px #70DBFF !important;
} 

.post-page
{
	color: white !important;
}
.ninja-forms-all-fields-wrap
{
	background-color: #EBF5FF;
	padding:10px;
	border: 2px inset red;
}
.ninja-forms-form-title{
  text-align: center;
  border: 2px groove green;
}
.content {
	background-color: #F0F0F0;
}
.upevent_post_field{
	border: 2px solid #008FB2;
	padding: 15px;
	background-color: #E6F5F5;
}
/*Upcoming Events*/

/*blogs*/
.dev_blog_details{
 text-align: justify;
}
.author_details{
  text-align: center;
}
.author_details h5{
  text-align: center;
}
.author_image img{
	width: 30%;
}