
html, body{
  	font-family: 'Montserrat', sans-serif;
    font-size: 100%;
  	 background: #FFf;
  	 -webkit-font-smoothing: antialiased;
}
body a{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
/*----start-container----*/
.container{
	width:70%;
}
/*-----start-header----*/
.bg{
	background:url(../images/baner.jpg) no-repeat 0px 0px;
	background-size:cover;
}
#home{
	padding-bottom: 50px;
	background-color: #001F33 ;
}
.top-nav ul li.active a, .top-nav ul li a:hover
{
	color: #3399CC !important;
}
.navbar-nav
{
	margin: 0 !important;
}
.top-nav> ul li a{
	color:white;
	font-size: 14px !important;
	font-weight: 900 !important;
}
.logo{
	float: left;
	margin-top: 0.6em;
}
.logo a{
	color: #303030;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 2.5em;
}
.logo a:hover{
	text-decoration:none;
}
.logo320{
	display:none;
}
/*----navbar-nav----*/
.top-header{
	padding: 0.8em 0em;
}
.top-nav ul li a{
	
	padding: 0.2em 1.5em;
	font-size: 0.9em;
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	font-weight: 300;
}
.top-nav ul li.active a,
.top-nav ul li a:hover{
	color:#EE2F1B;
}
.logo a{
	display:block;
}
/* top-nav */
.top-nav:before,
.top-nav:after {
    content: " ";
    display: table;
}
.top-nav:after {
    clear: both;
}
nav {
	position: relative;
	float: right;
}
nav ul {
	padding: 0;
	float: right;
	margin: 0.9em 0;
}
nav li {
	display: inline;
	float: left;
	position:relative;
}
nav a {
	
	display: inline-block;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav a:hover{
	text-decoration:none;
	color:#00A2C1;
}
nav a#pull {
	display: none;
}
/*Styles for screen 600px and lower*/
@media screen and (max-width: 768px) {
	nav { 
  		height: auto;
  		float:none;
  	}
  	nav ul {
  		width: 100%;
  		display: block;
  		height: auto;
  	}
  	nav li {
  		width: 100%;
  		position: relative;
  	}
  	nav li a {
		border-bottom: 1px solid #eee;
	}
  	nav a {
	  	text-align: left;
	  	width: 100%;
  	}
}
@media only screen and (max-width : 768px) {
	nav {
		border-bottom: 0;
		float:none;
	}
	nav ul {
		display: none;
		height: auto;
		margin: 1.5em 0 0 0;
		background: #fff;
	}
	nav a#pull {
		display: block;
		position: relative;
		color: #F26D7D;
		text-align: right;
		position: absolute;
		top: 23px;
	}
	nav a#pull:after {
		content:"";
		background: url('nav-icon.png') no-repeat;
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
	nav a#pull img{
		margin-right: 0%;
	}
	.top-nav ul li a {
		color: #2C3E50;
		padding: 0.4em 0;
	}
}
/*Smartphone*/
@media only screen and (max-width : 320px) {
	nav {
		float:none;
	}
	nav li {
		display: block;
		float: none;
		width: 100%;
	}
	nav li a {
		border-bottom: 1px solid #EEE;
	}
}
/*---- benner ----*/
.banner-info{
	padding: 9em 0 12em;
}
.banner-info h1{
	font-weight: 700;
	font-size: 3.5em;
	color:#505050;
	text-transform: uppercase;
	width: 70%;
	display: inline-block;
	line-height: 1.3em;
}
.banner-info span{
	width:15%;
	height:1px;
	background:#35C2F8;
	display:inline-block;
}
.banner-info p{
	color: #303030;
	font-weight:400;
	font-size: 1.3em;
	line-height: 1.7em;
	font-family: 'Open Sans', sans-serif;
	margin: 1em auto;
	width: 50%;
}
/*---- services ----*/
.services{
	padding:3em 0;
}
.service-head h2{
	font-weight:900;
	font-size:2.6em;
	color:#222222;
	text-transform:uppercase;
}
.service-head span{
	width:15%;
	height:1px;
	background:#35C2F8;
	display:inline-block;
}
.service-grid span{
	width:64px;
	height:64px;
	display:inline-block;
	background:url(../images/services-icons.png) no-repeat 0px 0px;
}
.service-grid h3 a{
	color: #222;
	font-weight: 600;
	font-size: 0.875em;
	text-transform: uppercase;
}
.service-grid h3 a:hover{
	color:#777777;
	text-decoration:none;
}
.service-grid p{
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
	line-height:1.7em;
	color:#888888;
}
.service-grid span.service-icon1{
	background-position:0px 0px;
}
.service-grid span.service-icon2{
	background-position: -391px 2px;
}
.service-grid span.service-icon3{
	background-position: -779px 4px;
}
.services-grids{
	padding:3em 0;
}

/*---- portflio ----*/
.portfolio-top-left{
	padding:3em 3em 3em 5em;
}
.portfolio-top-left h3{
	font-weight: 900;
	font-size: 2.5em;
	color: #222222;
	text-transform: uppercase;
	margin: 0.3em 0 0.6em;
}
.portfolio-top-left p{
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7em;
	color: #777777;
}
.portfolio-top-left-grid-left{
	float:left;
	width:10%;
	text-align:center;
}
.portfolio-top-left-grid-right{
	float:right;
	width:90%;
}
.portfolio-top-left-grid-left span{
	width:32px;
	height:32px;
	display:inline-block;
	background:url(../images/port-icons.png) no-repeat 0px 0px;
	margin-top:0.5em;
}
.portfolio-top-left-grid-right h5{
	text-transform:uppercase;
	color:#222222;
	font-size:1.3em;
	margin:0;
	padding:0 0 0.5em 0;
}
.portfolio-top-left-grid-right p{
	width:80%;
}
.portfolio-top-left-grid{
	margin:1em 0;
}
.portfolio-top-left-grids{
	padding:0.5em 0;
}
.portfolio-top-left-grid-left span.p-icon1{
	background-position:0px 0px;
}
.portfolio-top-left-grid-left span.p-icon2{
	background-position: 0px -90px;
}
.portfolio-top-left-grid-left span.p-icon3{
	background-position: 0px -183px;
}
.portfolio-top-right{
	min-height:650px;
	background:url(../images/port-right-divice.png) no-repeat 0px 0px;
	background-size:cover;
}
.portfolio-top-right-inner{
	padding:0;
}
.portfolio-work-grid{
	padding:0 !important;
}
.portfolio-work-grid{
	position:relative;
}
.portfolio-work-grid-pic img{
	width:100%;
}
.portfolio-work-grid-pic{
	position:relative;
}
.portfolio-work-grid-caption{
	display: none;
	width:100%;
	position: absolute;
	top: 0;
	background: rgba(153, 153, 153, 0.8);
	text-align: center;
	padding: 6em 2em 0em 2em;
	bottom: 0;
}
.portfolio-work-grid-caption h4{
	font-weight:700;
	font-size:1.5em;
	text-transform:uppercase;
	color:#FFF;
}
.portfolio-work-grid:hover div.portfolio-work-grid-caption{
	display:block;
}
.portfolio-work-grid-caption p{
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7em;
	color: #FFF;
}
/*----start-about----*/
.about{
	padding:3em 0;
}
.about-head{
	text-align: center;
}
.about-head h1{
	font-weight: 900;
	font-size: 2.6em;
	color: #222222;
	text-transform: uppercase;
}
.about-head span{
	width: 8%;
	height: 1px;
	background: #35C2F8;
	display: inline-block;
}

/*Event Time line*/
.event-time-line{
   position: relative;
   padding: 0;
   list-style: none;
   width: 60%;
	margin: 6em auto 15em;
}
.event-time-line li{
	display: inline;
	max-height: 200px;
}
.event-time-line:before {
	content: '';
	position: relative;
	top: 0;
	bottom: 0;
	width: 3px;
	background: #F1F1F1;
	left: 49%;
	margin-left: -10px;
}

.event-image{
   position:relative;
   width: 170px;
	height: 170px;
	speak: none;
	font-size: 1.4em;
	line-height: 40px;
	color: #fff;
	border-radius: 50%;
	box-shadow: 0 0 0 8px #F1F1F1;
	-webkit-box-shadow: 0 0 0 8px #F1F1F1;
	-moz-box-shadow: 0 0 0 8px #F1F1F1;
	-o-box-shadow: 0 0 0 8px #F1F1F1;
	text-align: center;
	left: 41%;
	top: 0;
	margin: 0 0 0 -25px;
	display:block;
}
.event-desc{
  position:relative;
  margin: 0 0 0px -8%;
	color: #fff;
	padding: 1em 0em 0em 0;
	font-size: 1.2em;
	font-weight: 300;
	line-height: 1.4;
	border-radius: 5px;
	width: 40%;
	text-align: right;
	bottom:200px;
}
.event-desc h2{
	color: #222222;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.93em;
}
.event-desc p {
	color: #777777;
	line-height: 1.6em;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.72em;
	margin-top: 0.8em;
}
/*---- contact ----*/
.contact{
	background: #248FB2;
	padding: 5em 0 0;
}
.contact-left h3{
	color:#FFF;
	font-weight:900;
	font-size:2.8em;
	text-transform:uppercase;
	margin:0;
	padding:0 0 0.4em 0;
}
.contact-left label{
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.7em;
	color: #FFF;
	margin-bottom:1.8em;
	display:block;
}
.contact-left-grid p,.contact-left-grid p a{
	color: #FFF;
	font-weight: 300;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	margin: 0.8em 0;
}
.contact-left-grid p a{
	text-decoration:none;
}
.contact-left-grid p a:hover{
	color:#35C2F8;
}
.contact-left-grid p span{
	width: 28px;
	height: 32px;
	display: inline-block;
	background: url(../images/contact-icons1.png) no-repeat 0px 0px;
	vertical-align: middle;
	margin-right: 0.3em;
}
.contact-left-grids div.col-md-6{
	padding:0;
}
.contact-left-grid p span.c-mobi{
	background-position:0px 0px;
}
.contact-left-grid p span.c-twitter{
	background-position: 0px -66px;
}
.contact-left-grid p span.c-pluse{
	background-position: 0px -132px;
}
/*----*/
.contact-right-grid p,.contact-right-grid p a{
	color: #FFF;
	font-weight: 300;
	font-size: 1.1em;
	font-family: 'Open Sans', sans-serif;
	margin: 0.8em 0;
}
.contact-right-grid p a{
	text-decoration:none;
}
.contact-right-grid p a:hover{
	color:#35C2F8;
}
.contact-right-grid p span{
	width: 28px;
	height: 32px;
	display: inline-block;
	background: url(../images/contact-icons2.png) no-repeat 0px 0px;
	vertical-align: middle;
	margin-right: 0.3em;
}
.contact-right-grids div.col-md-6{
	padding:0;
}
.contact-right-grid p span.c-msg{
	background-position: 0px 6px;
}
.contact-right-grid p span.c-face{
	background-position: 0px -61px;
}
.contact-right-grid p span.c-pin{
	background-position: 0px -126px;
}
.contact-right input[type="text"],.contact-right textarea{
	width:100%;
	padding:0.8em;	
	font-family: 'Open Sans', sans-serif;
	color:#777;
	font-weight:300;
	border-radius:0.3em;
	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	-o-border-radius:0.3em;
	-ms-border-radius:0.3em;
	outline:none;
	border:1px solid #111111;
	transition:border-color 0.4s;
	-webkit-transition:border-color 0.4s;
	-moz-transition:border-color 0.4s;
	-o-transition:border-color 0.4s;
	-ms-transition:border-color 0.4s;
	margin:0 0 1em 0;
}
.contact-right input[type="text"]:hover,.contact-right textarea:hover{
	border-color:#35C2F8;
}
.contact-right textarea{
	outline:none;
	min-height:150px;
}
.contact-right input[type="submit"]{
	background:#35C2F8;
	padding:0.9em 1.5em;
	color:#FFF;
	text-transform:uppercase;
	border-radius:3em;
	border:none;
	cursor:pointer;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.contact-right input[type="submit"]:hover{
	background:#EE2F1B;
}
/*---- copy-right -----*/
.copy-right p{
	color:#FFF;
	font-size:1em;
	border-top:1px solid #FFF;
	padding:1.5em 0;
	font-weight:300;
	font-family: 'Open Sans', sans-serif;
	
}
.copy-right p a{
	color:#35C2F8;
}
.copy-right p a:hover{
	color:#FFF;
	text-decoration:none;
}
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 14px;
	right: 3%;
	overflow: hidden;
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url("../images/to-top1.png") no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*---- responsive-design ----*/
@media (max-width:1366px){
	.container{
		width:80%;
	}
}
@media (max-width:1280px){
	.container{
		width:80%;
	}
	.portfolio-work-grid-caption {
		padding: 4.5em 2em 0em 2em;
	}
}
@media (max-width:1024px){
	.container{
		width:80%;
	}
	.portfolio-work-grid-caption {
		padding: 2.4em 1em 0em 1em;
	}
	.banner-info h1 {
		font-size: 3.2em;
		width: 80%;
	}
	.banner-info p {
		width: 60%;
	}
	.e-left-inner-grid-right {
		width: 80%;
	}
	.portfolio-top-left-grid-right p {
		width: 100%;
	}
	.portfolio-top-left {
		
	}
	.about-time-line > li .cbp_tmlabel {
		width: 55%;
		margin: 0% 0 0px -23%;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 70%;
	}
	.about-time-line:before {
		left: 52%;
	}
}
@media (max-width:768px){
	.container{
		width:80%;
	}
	.portfolio-work-grid-caption {
		padding: 2.4em 1em 0em 1em;
	}
	.banner-info h1 {
		font-size: 2.8em;
		width: 100%;
	}
	.banner-info p {
		width: 90%;
	}
	.e-left-inner-grid-right {
		width: 80%;
	}
	.portfolio-top-left-grid-right p {
		width: 100%;
	}
	.portfolio-top-left {
		padding: 1.5em 4em 1.5em 4em;
	}
	.about-time-line > li .cbp_tmlabel {
		width: 56%;
		margin: 0% 100% 0px 35%;
		text-align: left;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 35%;
	}
	.about-time-line:before {
		left: 19.5%;
	}
	.service-head h2 {
		font-size: 2.2em;
	}
	.services {
		padding: 1em 0;
	}
	.services-grids {
		padding: 1em 0;
	}
	.service-grid h3{
		margin:0 0 0.3em 0;
	}
	.service-grid{
		margin:0 0 1em 0;
	}
	.expertice-left-grid {
		padding: 1.5em 4em 1.5em 4em;
	}
	.about {
		padding: 1em 0 14em;
	}
	.about-time-line {
		width: 100%;
		margin: 0;
	}
	.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
		left: 10%;
	}
	.tm-head h3 {
		font-size: 3em;
	}
	
	.tm-head-grid {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	
	.contact {
		padding: 3em 0 0;
	}
	.contact-left h3 {
		font-size: 2.5em;
	}
	.contact-left{
		margin:0 0 1em 0;
	}
}
@media (max-width:640px){
	.container{
		width:80%;
	}
	.portfolio-work-grid-caption {
		padding: 2.4em 1em 0em 1em;
	}
	.banner-info {
		padding: 5em 0 7em;
	}
	.banner-info h1 {
		font-size: 2.3em;
		width: 100%;
	}
	.banner-info p {
		width: 100%;
		font-size: 1.2em;
	}
	.e-left-inner-grid-right {
		width: 80%;
	}
	.portfolio-top-left-grid-right p {
		width: 100%;
	}
	.portfolio-top-left {
		
		padding: 1.5em 3em 1.5em 3em;
	}
	.about-time-line > li .cbp_tmlabel {
		width: 54%;
		margin: 0% 100% 0px 37%;
		text-align: left;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 35%;
	}
	.about-time-line:before {
		left: 19.5%;
	}
	.service-head h2 {
		font-size: 2.2em;
	}
	.services {
		padding: 1em 0;
	}
	.services-grids {
		padding: 1em 0;
	}
	.service-grid h3{
		margin:0 0 0.3em 0;
	}
	.service-grid{
		margin:0 0 1em 0;
	}
	.expertice-left-grid {
		padding: 1.5em 3em 1.5em 3em;
	}
	.about {
		padding: 1em 0 14em;
	}
	.about-time-line {
		width: 100%;
		margin: 0;
	}
	.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
		left: 10%;
		width: 140px;
		height: 140px;
	}
	.tm-head h3 {
		font-size: 2.8em;
	}
	.team-members {
		padding: 2em 0 3em 0;
	}
	.tm-head-grid {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.team-info {
		width: 80%;
	}
	.contact {
		padding: 3em 0 0;
	}
	.contact-left h3 {
		font-size: 2.5em;
	}
	.contact-left{
		margin:0 0 1em 0;
	}
}
@media (max-width:480px){
	.container{
		width:80%;
	}
	.portfolio-work-grid-caption {
		padding: 2.4em 1em 0em 1em;
	}
	.banner-info {
		padding: 3em 0 4em;
	}
	.banner-info h1 {
		font-size: 1.7em;
		width: 100%;
	}
	.banner-info p {
		width: 100%;
		font-size: 0.875em;
	}
	.e-left-inner-grid-right {
		width: 80%;
	}
	.portfolio-top-left-grid-right p {
		width: 100%;
	}
	.portfolio-top-left {
		
		padding: 1.5em 2em 1.5em 1.8em;
	}
	.about-time-line > li .cbp_tmlabel {
		width: 54%;
		margin: 0% 100% 0px 37%;
		text-align: left;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 35%;
	}
	.about-time-line:before {
		left: 19.5%;
	}
	.service-head h2 {
		font-size: 2em;
	}
	.services {
		padding: 1em 0;
	}
	.services-grids {
		padding: 1em 0;
	}
	.service-grid h3{
		margin:0 0 0.3em 0;
	}
	.service-grid{
		margin:0 0 1em 0;
	}
	.expertice-left-grid {
		padding: 1.5em 3em 1.5em 3em;
	}
	.about {
		padding: 1em 0 14em;
	}
	.about-time-line {
		width: 100%;
		margin: 0;
	}
	.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
		left: 10%;
		width: 120px;
		height: 120px;
	}
	.tm-head h3 {
		font-size: 2.2em;
	}
	.team-members {
		padding: 1em 0 2em 0;
	}
	.tm-head-grid {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.team-info {
		width: 80%;
	}
	.contact {
		padding: 3em 0 0;
	}
	.contact-left h3 {
		font-size: 2.2em;
	}
	.contact-left{
		margin:0 0 1em 0;
	}
	.service-grid h3 a {
		font-size: 0.8em;
	}
	.expertise-head h3 {
		font-size: 2em;
	}
	.e-left-inner-grid {
		width: 100%;
		float: none;
		margin-bottom: 0.5em;
	}
	.expertise-left-inner-grids {
		padding: 1em 0;
	}
	.portfolio-top-left h3 {
		font-size: 2em;
	}
	.portfolio-top-left h3 {
		font-size: 1.7em;
	}
	.about-head h1 {
		font-size: 2.2em;
	}
	.copy-right p{
		padding:1.5em 0 1.2em;
		margin-top:3em;
	}
	.contact-right input[type="text"], .contact-right textarea,.contact-right input[type="submit"]{
		-webkit-appearance:none;
		resize:none;
	}
	.contact-right input[type="submit"] {
		padding: 0.7em 0em;
		width: 100%;
		outline:none;
	}
}
@media (max-width:320px){
	.container{
		width:90%;
	}
	.portfolio-work-grid-caption {
		padding: 0.5em 1em 0em 1em;
	}
	.banner-info {
		padding: 2em 0 3em;
	}
	.banner-info h1 {
		font-size: 1.2em;
		width: 100%;
	}
	.banner-info p {
		width: 100%;
		font-size: 0.875em;
	}
	.e-left-inner-grid-right {
		width: 80%;
	}
	.portfolio-top-left-grid-right p {
		width: 100%;
	}
	.portfolio-top-left {
		background: url(../images/portbg-1.png) no-repeat 68% 51%;
		padding: 1.5em 1em 1.5em 1em;
	}
	.about-time-line > li .cbp_tmlabel {
		width: 62%;
		margin: 0% 100% 0px 32%;
		text-align: left;
	}
	.about-time-line > li .cbp_tmlabel1 {
		margin: 0 0 15px 35%;
	}
	.about-time-line:before {
		left: 16%;
	}
	.service-head h2 {
		font-size: 1.5em;
		margin: 0.2em 0 0;
	}
	.services {
		padding: 1em 0;
	}
	.services-grids {
		padding: 1em 0;
	}
	.service-grid h3{
		margin:0 0 0.3em 0;
	}
	.service-grid{
		margin:0 0 1em 0;
	}
	.expertice-left-grid {
		padding: 1.5em 2em 1.5em 2em;
	}
	.about {
		padding: 1em 0 14em;
	}
	.about-time-line {
		width: 100%;
		margin: 0;
	}
	.about-time-line > li .cbp_tmicon, .cbp_tmicon1, .cbp_tmicon2, .cbp_tmicon3, .cbp_tmicon2, .cbp_tmicon4 {
		left: 10%;
		width: 70px;
		height: 70px;
	}
	.tm-head h3 {
		font-size: 1.5em;
	}
	.team-members {
		padding: 1em 0 2em 0;
	}
	.tm-head-grid {
		width: 100%;
		float: none;
		margin-right: 0;
	}
	.team-info {
		width: 80%;
	}
	.contact {
		padding: 1.8em 0 0;
	}
	.contact-left h3 {
		font-size: 1.5em;
	}
	.contact-left{
		margin:0 0 1em 0;
	}
	.service-grid h3 a {
		font-size: 0.8em;
	}
	.expertise-head h3 {
		font-size: 1.3em;
	}
	.e-left-inner-grid {
		width: 100%;
		float: none;
		margin-bottom: 0.5em;
	}
	.expertise-left-inner-grids {
		padding: 1em 0;
	}
	.portfolio-top-left h3 {
		font-size: 2em;
	}
	.portfolio-top-left h3 {
		font-size: 1.5em;
	}
	.about-head h1 {
		font-size: 1.8em;
	}
	.copy-right p{
		padding:1.5em 0 1.2em;
		margin-top:3em;
	}
	.e-left-inner-grid-right h4 {
		font-size: 1.1em;
	}
	.e-left-inner-grid-left span {
		margin-top: 0.2em;
	}
	a.leran-more {
		padding: 0.8em 1.3em;
		font-size: 0.9em;
	}
	.portfolio-top-left-grid-right h5 {
		font-size: 1.1em;
	}
	.portfolio-top-left-grid-right {
		width: 82%;
	}
	.portfolio-work-grid-caption h4 {
		font-size: 1.3em;
	}
	.cbp_tmlabel h2 {
		font-size: 0.875em;
		margin: 0;
	}
	.tm-head p {
		width: 80%;
		margin: 0 auto;
	}
	.contact-right-grid p, .contact-right-grid p a {
		font-size: 1em;
	}
	.contact-left-grid p, .contact-left-grid p a {
		font-size: 1em;
	}
	.contact-left label {
		font-size: 0.875em;
	}
	.top-nav ul li a {
		padding: 0.2em 0;
	}
	.contact-right input[type="text"], .contact-right textarea,.contact-right input[type="submit"]{
		-webkit-appearance:none;
		resize:none;
	}
	.contact-right input[type="submit"] {
		padding: 0.7em 0em;
		width: 100%;
		outline:none;
	}
}
/*custom CSS for wordpress theme*/
/*Custom css*/
/*-- gallery --*/
.gallery {
  padding: 4em 0;
}
.da-thumbs {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}
.da-thumbs li {
  float: left;
  margin: 0.4%;
   padding: 8px;
  position: relative;
   width: 32.4%;
   max-width: 400px;
}
.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative;
  width: 100%;
}
.da-thumbs li a {
	overflow: hidden;
}
.da-thumbs li a div {
  position: absolute;
  background:rgba(11, 16, 10, 0.79);
  width: 100%;
  height: 100%;
}
.da-thumbs li a div span {
  display: block;
  padding: 10px 0;
  margin: 11px 20px 20px 20px;
  font-weight: normal;
  text-transform: capitalize;
  color: rgba(255,255,255,0.9);
  text-align: center;
  font-size: 1.1em;
}
.da-thumbs li a div  h5 {
  color: #FFF;
  font-size: 1.5em;
  margin: 3.5em 0 0 0;
  text-align: center;
  text-transform: capitalize;
}
.gallery-grids {
  margin-top: 3em;
  margin-left:4em;
  width:90%;

}
@media (max-width: 991px){
.da-thumbs li a div h5 {
  font-size: 1.3em;
  margin: 2.5em 0 0 0;
}
.da-thumbs li a div span {
  padding: 8px 0;
  margin: 5px 14px 15px 14px;
  font-size: 0.95em;
}
.da-thumbs li {
  width:48%;
}
.gallery-grids {
  margin-top: 3em;
 
  width:90%;

}
}
@media (max-width: 640px){
.da-thumbs li a div h5 {
  font-size: 1.2em;
  margin: 1.5em 0 0 0;
}
.da-thumbs li a div span {
  font-size: 0.9em;
}
.da-thumbs li {
  width:100%;
}
.gallery-grids {
  margin-top: 3em;
 
  width:90%;
}
}
@media(max-width:480px){
.da-thumbs li {
  width: 100%;
}
.gallery-grids {
  margin-top: 3em;
 
  width:90%;

}
}
@media(max-width:320px){
.da-thumbs li a div h5 {
  margin: 3.5em 0 0 0;
}
.gallery-grids {
  margin-top: 3em;
  margin-left: 1em !important;
  width:90%;

}
}

/*--keep-starts--*/
.keep{
	
	background-size:cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	-moz-background-size: cover;
    padding: 120px 0 0px 0;
    min-height: 400px;
	position:relative;
}
.keep h3{
	font-size:25px;
	margin:0 auto;
	color:white;
	font-weight:400;
	text-align:center;
	background:#1A6680;
	padding: 20px 0;
    width: 35%;
}
.keep ul{
    margin: 50px 0 0 0;
	padding: 0;
	text-align:center;
	}
.keep ul li{
	display:inline-block;
	list-style-type:none;
	margin: 0 8px;
	}
.keep ul li a span{
	background: url(../images/social-icons.png) no-repeat 0px 0px;
	display: block;
	width: 48px;
	height: 48px;
	}
.keep ul li a span:hover{
	transition: .5s all;
    -webkit-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    -moz-transition: .5s all;
	transform: rotatey(360deg);	
	-webkit-transform: rotatey(360deg);	
	-moz-transform: rotatey(360deg);	
	-o-transform: rotatey(360deg);	
	-ms-transform: rotatey(360deg);	
}
.keep ul li a span.fb{
	background-position:0px 0px;
}
.keep ul li a span.twit{
	background-position:-48px 0px;
}
.keep ul li a span.google{
	background-position:-96px 0px;
}
.keep ul li a span.pin{
	background-position:-144px 0px;
}
.keep ul li a span.fb:hover{
	background-position:0px -48px;
}
.keep ul li a span.twit:hover{
	background-position:-48px -48px;
}
.keep ul li a span.google:hover{
	background-position:-96px -48px;	
}
.keep ul li a span.pin:hover{
	background-position:-144px -48px;
}
.find {
    position: absolute;
    width: 35%;
    margin: 0 auto;
    background: #fff;
    padding: 2em 20px;
    top: 83%;
    left: 32.2%;
	z-index:1;
}
.find-left h4{
	color:#535E64;
	font-size:28px;
	margin:32% 0 0 0;
}
.find-right h5{
	color:#535E64;
	font-size:20px;
}
.find-right p{
	color:#DC6226;
	margin-top:10px;
	font-size:14px;
}
.adrs1{
	margin-top:3%;
}
/*--keep-end--*/
/*--map-starts--*/
.map{
	position:relative;
}
.map iframe{
	width:100%;
	height:350px;
}
.map-mask {
    background: rgba(0, 0, 0, 0.21);
    width: 100%;
    padding: 1.65em 0;
    top: 0;
    right: 0;
    position: absolute;
    height: 350px;
}
/*--map-end--*/
/*--media-quaries-starts--*/

@media (max-width:1366px){
.find-right {
    padding: 0;
}	

.find {
    left: 32.2%;
}

}
@media (max-width:1280px){

.keep h3 {
    font-size: 24px;
    padding: 18px 0;
    width: 35%;
}
.keep {
    padding: 100px 0 0px 0;
    min-height: 360px;
}
.find {
    left: 32.4%;
    width: 37%;
}
.find-left h4 {
    font-size: 27px;
    margin: 38% 0 0 0;
}
.map iframe,.map-mask {
    height: 335px;
}
}
@media (max-width:1024px){

.keep h3 {
    font-size: 22px;
    padding: 14px 0;
}
.keep ul {
    margin: 40px 0 0 0;
}
.keep ul li {
    margin: 0 5px;
}
.keep ul li a span {
    width: 45px;
    height: 45px;
    background-size: 400%;
}
.keep ul li a span.fb:hover {
    background-position: 0px -45px;
}
.keep ul li a span.twit {
    background-position: -45px 0px;
}
.keep ul li a span.twit:hover {
    background-position: -45px -45px;
}
.keep ul li a span.google {
    background-position: -90px 0px;
}
.keep ul li a span.google:hover {
    background-position: -90px -45px;
}
.keep ul li a span.pin {
    background-position: -135px 0px;
}
.keep ul li a span.pin:hover {
    background-position: -135px -45px;
}
.keep h3 {
    font-size: 20px;
    padding: 10px 0;
    width: 30%;
}
.keep {
    padding: 80px 0 0px 0;
    min-height: 360px;
}
.find-left h4 {
    font-size: 23px;
    margin: 38% 0 0 0;
}
.find {
    left: 28.6%;
    width: 43%;
}
.keep {
    padding: 55px 0 0px 0;
    min-height: 260px;
}
.find-right h5 {
    font-size: 18px;
}
.find-right p {
    font-size: 13px;
}
.map iframe, .map-mask {
    height: 300px;
}

}
@media (max-width:768px){

.keep h3 {
    font-size: 17px;
    padding: 9px 0;
}
.keep ul {
    margin: 29px 0 0 0;
}
.keep ul li a span {
    width: 35px;
    height: 35px;
}
.keep ul li a span.fb:hover {
    background-position: 0px -35px;
}
.keep ul li a span.twit {
    background-position: -35px 0px;
}
.keep ul li a span.twit:hover {
    background-position: -35px -35px;
}
.keep ul li a span.google {
    background-position: -70px 0px;
}
.keep ul li a span.google:hover {
    background-position: -70px -35px;
}
.keep ul li a span.pin {
    background-position: -105px 0px;
}
.keep ul li a span.pin:hover {
    background-position: -105px -35px;
}
.find-left h4 {
    font-size: 19px;
    margin: 0% 0 0 0;
}
.find-right h5 {
    font-size: 15px;
}
.find-left {
    margin-bottom: 15px;
	padding: 0;
}
.find {
    padding: 1.3em 18px;
    width: 37%;
}
.map iframe, .map-mask {
    height: 230px;
}
.contact-left textarea {
    height: 8.5em;
    margin-bottom: 20px;
}
.keep {
    padding: 35px 0 0px 0;
    min-height: 200px;
}
.find-right p {
    font-size: 12px;
    margin-top: 4px;
}

}
@media (max-width:640px){

.keep h3 {
    font-size: 15px;
    padding: 7px 0;
}
.find {
    padding: 1.1em 18px;
    width: 44%;
    left: 27.5%;
}
.keep ul {
    margin: 18px 0 0 0;
}
.find-left {
    margin-bottom: 9px;
}
.keep {
    padding: 28px 0 0px 0;
    min-height: 157px;
}
.map iframe, .map-mask {
    height: 200px;
}

}
@media (max-width:480px){
.keep h3 {
    font-size: 13px;
    padding: 6px 0;
    width: 40%;
}
.keep ul li a span {
    width: 30px;
    height: 30px;
}
.keep ul li a span.fb:hover {
    background-position: 0px -30px;
}
.keep ul li a span.twit {
    background-position: -30px 0px;
}
.keep ul li a span.twit:hover {
    background-position: -30px -30px;
}
.keep ul li a span.google {
    background-position: -60px 0px;
}
.keep ul li a span.google:hover {
    background-position: -60px -30px;
}
.keep ul li a span.pin {
    background-position: -90px 0px;
}
.keep ul li a span.pin:hover {
    background-position: -90px -30px;
}
.keep ul li {
    margin: 0 2px;
}
.keep ul {
    margin: 12px 0 0 0;
}
.find-left h4 {
    font-size: 16px;
}
.find-right h5 {
    font-size: 14px;
}
.find-right p {
    font-size: 11px;
}
.adrs1 {
    margin-top: 4%;
}
.find {
    padding: 1em 14px;
    width: 53%;
    left: 22.7%;
}
.map iframe, .map-mask {
    height: 180px;
}

.keep {
    padding: 22px 0 0px 0;
    min-height: 130px;
}
.about {
    padding-top: 2em;
}
}
@media (max-width:320px){

.keep h3 {
    padding: 4px 0;
    width: 60%;
}
.find {
    padding: 1em 8px;
    width: 77%;
    left: 11.5%;
}
.adrs1 {
    margin-top: 2%;
}
.find-left {
    margin-bottom: 5px;
}
.keep {
    padding: 15px 0 0px 0;
    min-height: 110px;
}
.map iframe, .map-mask {
    height: 160px;
}

}
/*--media-quaries-starts--*/
/*team*/
.ch-grid {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
	width: 100%;
}

.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 220px;
	height: 220px;
	display: inline-block;
	margin: 20px;
}
.team-top h3 {
  text-align: center;
  font-size: 2.5em;
  color:#8fbe00;
  font-family: 'HammersmithOne-Regular';
}

/*--meadia quries start here--*/
@media(max-width:1024px){

.team-mem {
  padding: 2em 0em 2em 0em;
}

}
@media(max-width:768px){

.team-top h3 {
  font-size: 2.3em;
}

}

@media(max-width:480px){
.team-mem {
  padding: 1em 0em 1em 0em;
}
.ch-grid {
  margin: 10px 0 0 0;
}
.team-top h3 {
  font-size: 1.9em;
}


}
@media(max-width:320px){

.team-mem {
  padding: 0em 0em 1em 0em;
}
.team-top h3 {
  font-size: 1.5em;
}

}
.ch-item {
	width: 100%;
	height: 100%;
	position: relative;
	box-shadow: 
		inset 0 0 0 0 rgba(0, 168, 182, 0.51), inset 0 0 0 16px rgba(0, 168, 182, 0.33), 0 1px 2px rgba(0, 168, 182, 0.44);
		
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	border-radius:50%;
}

.ch-img-1 { 
	background-image: url(../images/ram.jpg);
}

.ch-img-2 { 
	background-image: url(../images/t2.jpg);
}

.ch-img-3 { 
	background-image: url(../images/t3.jpg);
}
.ch-img-4 { 
	background-image: url(../images/t4.jpg);
}
.ch-info {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	opacity: 0;
	
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	
	-webkit-backface-visibility: hidden; /*for a smooth font */

}

.ch-info h3 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	position: relative;
	letter-spacing: 2px;
	font-size: 22px;
	margin: 0 30px;
	padding: 65px 0 0 0;
	height: 110px;
	font-family: 'Open Sans', Arial, sans-serif;
	text-shadow: 
		0 0 1px #fff, 
		0 1px 2px rgba(0,0,0,0.3);
}

.ch-info p {
	color: #fff;
	padding: 10px 5px;
	font-style: italic;
	margin: 0 30px;
	font-size: 12px;
	border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.ch-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
	box-shadow: 
		inset 0 0 0 110px rgba(0, 168, 182, 0.31), inset 0 0 0 16px rgba(255, 255, 255, 0.62), 0 1px 2px rgba(0, 0, 0, 0.2);
}

.ch-item:hover .ch-info {
	opacity: 1;
	
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);	
}
@media(max-width:1024px){
.ch-grid li {
  width: 202px;
  height: 220px;
  display: inline-block;
  margin: 10px;
}
}
@media(max-width:768px){
.ch-grid li {
  width: 220px;
  height: 220px;
}
}
/*--meadia quries end here--*/
/*--team--*/


/*blog page css*/
img.zoom-img {
    -webkit-transform: scale(1, 1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1, 1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}
img.zoom-img:hover {
    -webkit-transform: scale(1.12);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 700ms;
    -moz-transform: scale(1.12);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 700ms;
    overflow: hidden;
	cursor:pointer;
}
a.mask {
	text-decoration: none;
	overflow: hidden;
	display: block;
}

-----------------------------------------*/
#portfolio-content {
	margin:  0 auto;
	display:-webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
#portfolio-content img { 
	width: 250px; 
	height: 250px; 
}
.portfolio-group {
	display: inline-block;
	width: 250px;
	height: 250px;
	position: relative;
	margin: 15px 10px;
}
.portfolio-group img {
	width:100%;
	height:100%;
	position:absolute;
	display:block;
	box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.5);
}
.portfolio-group .detail {
	display:block;
	width:100%;
	height:100%;	
	position:absolute;
	background-color: rgba(255, 255, 255, 0.7);
	box-shadow: 5px 10px 10px -5px rgba(0,0,0,0.5);
}
.portfolio-group .detail h3 {
	padding: 15px 10px 0 10px;
}
.portfolio-group .detail p {
	text-align: justify;
	padding: 10px;
	line-height: 1.8em;
}
.portfolio-item { 
	display:block; 
	width:100%; 
	height:100%; 
}
.portfolio-item .btn {
	width: 80px;
	height: 30px;
	border: 1px solid rgba(0, 0, 0, 0.09);
	background-color: rgba(255, 255, 255, 0.5);
	-webkit-box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.44);
	-ms-box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.44);
	box-shadow: 1px 1px 1px rgba(51, 51, 51, 0.44);
}
.portfolio-item .btn:hover { background-color: #ddd; }
.pagination { width: 100%; }
.pagination li {
	width: 30px;
	height: 30px;
	line-height: 30px;	
	background-color: white;
	-webkit-box-shadow: 1px 1px 1px rgba(51,51,51,0.4);
	-ms-box-shadow: 1px 1px 1px rgba(51,51,51,0.4);
	box-shadow: 1px 1px 1px rgba(51,51,51,0.4);
	margin-right: 10px;
	border: 1px solid rgba(44, 44, 44, 0.1);
}
.pagination li:last-child {	margin-right: 0; }
.pagination li.active, .pagination li:hover { background-color: #A7DDFF; }

/*  4. CSS3 flip
	http://stackoverflow.com/questions/13474210/css3-3d-flip-animation-ie10-transform-origin-preserve-3d-workaround
	http://www.cssplay.co.uk/menu/css3-3d-card.html
	http://cssdeck.com/labs/gddxuzki
-------------------------------------------------------------------------------------*/
.portfolio-group .portfolio-item img,  .portfolio-group .portfolio-item .detail {
	-webkit-transition:0.5s ease-in-out;
	-moz-transition:0.5s ease-in-out;
	transition:0.5s ease-in-out;
}
.portfolio-group .detail {
	-moz-transform:perspective(800px) rotateY(180deg);
	-webkit-transform:perspective(800px) rotateY(180deg);
	transform:perspective(800px) rotateY(180deg);
}
.portfolio-group img {
	-moz-transform:perspective(800px) rotateY(0deg);
	-webkit-transform:perspective(800px) rotateY(0deg);
	transform:perspective(800px) rotateY(0deg);
}
.portfolio-item:hover > .detail {
	-moz-transform:perspective(800px) rotateY(0);
	-webkit-transform:perspective(800px) rotateY(0);
	transform:perspective(800px) rotateY(0);	
}
.portfolio-item:hover > img {
	-webkit-transform:perspective(800px) rotateY(-179.9deg);
	-moz-transform:perspective(800px) rotateY(-179.9deg);
	transform:perspective(800px) rotateY(-179.9deg);	
}
.portfolio-group img, .portfolio-group .detail {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}
